<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examination.mapper.LoginMapper">
    <select id="adminLogin" resultType="com.examination.entity.Admin">
        select *
        from admin
        where adminId = #{adminId} and pwd = #{password}
    </select>

    <select id="studentLogin" resultType="com.examination.entity.Student" >
        select *
        from student
        where studentId = #{studentId} and pwd = #{password}
    </select>

    <select id="teacherLogin" resultType="com.examination.entity.Teacher">
        select *
        from teacher
        where teacherId = #{teacherId} and pwd = #{password}
    </select>

</mapper>