<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examination.mapper.MultiQuestionMapper">

    <select id="findAll" resultType="com.examination.entity.MultiQuestion">
        select * from multi_question
    </select>

    <select id="findByPaperId" resultType="com.examination.entity.MultiQuestion">
        select mq.* from multi_question mq,paper_manage pm where pm.questionType = 2 and pm.paperId = #{paperId} and mq.questionId=pm.questionId
    </select>

    <select id="findByQuestionId" resultType="com.examination.entity.MultiQuestion">
        select * from exam.multi_question where questionId = #{questionId}
    </select>


    <insert id="add" parameterType="com.examination.entity.MultiQuestion">
        insert into multi_question (questionId,subject,question,answerA,answerB,answerC,answerD,rightAnswer,analysis,score,section,level)
        value (#{questionId},#{subject}, #{question}, #{answerA},#{answerB},#{answerC},#{answerD},#{rightAnswer},#{analysis},#{score},#{section},#{level})
    </insert>

    <select id="findBySubject" resultType="Integer">
        select questionId from multi_question where subject = #{subject}
    </select>

</mapper>