<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examination.mapper.ScoreMapper">

    <insert id="add" parameterType="com.examination.entity.Score">
        insert into exam.score (exam.score.examCode,
                                exam.score.studentId,
                                exam.score.subject,
                                exam.score.score,
                                exam.score.answerDate)
        value (#{examCode},#{studentId},#{subject},#{score},#{answerDate})
    </insert>

    <delete id="delete">
        delete from exam.score
        where exam.score.scoreId = #{scoreId}
    </delete>

    <select id="findAll" resultType="com.examination.entity.Score">
        select *
        from exam.score
    </select>

    <select id="findByStudentId" resultType="com.examination.entity.Score">
        select * from exam.score
        where studentId =#{studentId}
    </select>

    <select id="findByExamCode" resultType="com.examination.entity.Score">
        select *
        from score
        where examCode = #{examCode}
    </select>
</mapper>
