<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examination.mapper.StudentMapper">

    <select id="findAll" resultType="com.examination.entity.Student">
        select * from student
    </select>

    <select id="findById" resultType="com.examination.entity.Student">
        select * from student where studentId = #{studentId}
    </select>

    <delete id="deleteById" parameterType="Integer">
        delete from student where studentId = #{studentId}
    </delete>

    <update id="update" parameterType="com.examination.entity.Student">
        update student set studentName = #{studentName},
                           grade = #{grade},
                           major = #{major},
                           clazz = #{clazz},
                           institute = #{institute},
                           tel = #{tel},
                           email = #{email},
                           pwd = #{pwd},
                           cardId = #{cardId},
                           sex = #{sex},
                           role = #{role}
        where studentId = #{studentId}
    </update>

    <update id="updatePwd">
        update student set pwd = #{pwd} where studentId = #{studentId}
    </update>

    <insert id="add" parameterType="com.examination.mapper.StudentMapper" keyProperty="studentId" useGeneratedKeys="true">
        insert into student(studentName,grade,major,clazz,institute,tel,email,pwd,cardId,sex,role)
        values (#{studentName},#{grade},#{major},#{clazz},#{institute},#{tel},#{email},#{pwd},#{cardId},#{sex},#{role})
    </insert>



</mapper>